.card{
  font-family: 'Roboto Condensed', sans-serif;
  color: #362d26;
  margin: auto;
  Background: #faf0e6;
  Background-image: url("https://img00.deviantart.net/e6cc/i/2014/063/4/7/tiny_flowers_in_white_by_chrisahamer-d78xe6t.jpg"); 
  padding: 0px 15px 15px;
  width: 310px;
  border: thin solid #ddd;
  border-radius: 25px;
  box-shadow: 5px 5px #eee;
}
.card img{
  border-radius: 10px;
}
h3 {
  padding: 5px 10px;
  background: #fff;
  border: solid, thin, #ddd;
  border-radius: 10px;
}
.info{
  margin:auto;
  background: #fff;
  padding: 5px;
  width: 300px;
  border: solid, thin, #ddd;
  border-radius: 10px;
  font-size: 0.8em;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

#fact{
  font-style: italic;
}

ul{
  list-style: none;
  padding-left: 0px;
}

#list-items span {
  font-weight: bold;
}